version: "3.9"

services:
  backend:
    image: churn-backend
    ports:
      - "8000:8000"

  frontend:
    image: churn-frontend
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
